body{
    background-image: url("https://bit.ly/39v0Fl2");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.pick{
    color: whitesmoke;
}
.table th {
    color: cyan;
    text-transform: capitalize;
    font-size: x-large;
}
.table td {
    color: chartreuse;
    text-shadow: coral;
    font-size: 20px;
}
table {
    transition: cubic-bezier(1, 0, 0, 1);
}
table{
    background-color: grey;
}
h1{
    text-align: center;
    transition: all 8s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#month{
    width: 225px;
}
.card{
    color:purple;
    font-family: 'Eagle Lake', cursive;
    font-size: x-large;
}footer {
    background-color:whitesmoke;
    width: 100%;
    height: 48px;
    text-align: center;
    z-index:300;
    bottom: 0;
    display: none;
    padding: 10px;
}

.footer ul.navigation li {
    float: left;
    margin-right: 16px;
    display: block;
    }
